# すべてのファイルをデフォルトで無視する
*

# CardsAndDices/Assets/CardsAndDices/Docs/ 配下の .md ファイルを追跡
!/CardsAndDices/Assets/CardsAndDices/Docs/**/*.md
!/CardsAndDices/Assets/CardsAndDices/Docs/component/*.md
!/CardsAndDices/Assets/CardsAndDices/Docs/gdd/*.md
!/CardsAndDices/Assets/CardsAndDices/Docs/guide/*.md
!/CardsAndDices/Assets/CardsAndDices/Docs/sys/*.md
!/CardsAndDices/Assets/CardsAndDices/Docs/ui/*.md

# CardsAndDices/Assets/CardsAndDices/Scripts/ 配下の .cs ファイルを追跡
!/CardsAndDices/Assets/CardsAndDices/Scripts/**/*.cs
!/CardsAndDices/Assets/CardsAndDices/Scripts/Commands/*.cs
!/CardsAndDices/Assets/CardsAndDices/Scripts/Data/*.cs
!/CardsAndDices/Assets/CardsAndDices/Scripts/Installers/*.cs
!/CardsAndDices/Assets/CardsAndDices/Scripts/Shared/*.cs
!/CardsAndDices/Assets/CardsAndDices/Scripts/Systems/*.cs
!/CardsAndDices/Assets/CardsAndDices/Scripts/Tester/*.cs

# .gitignore ファイル自体は管理対象にする
!/.gitignore

# 上記のファイルにたどり着くために必要なディレクトリの無視を解除する
# Gitの仕様上、親ディレクトリが無視されていると子ファイルも無視されるため、
# 必要なパスを明示的に解除する
!/CardsAndDices/
!/CardsAndDices/Assets/
!/CardsAndDices/Assets/CardsAndDices/
!/CardsAndDices/Assets/CardsAndDices/Docs/
!/CardsAndDices/Assets/CardsAndDices/Docs/component/
!/CardsAndDices/Assets/CardsAndDices/Docs/gdd/
!/CardsAndDices/Assets/CardsAndDices/Docs/guide/
!/CardsAndDices/Assets/CardsAndDices/Docs/sys/
!/CardsAndDices/Assets/CardsAndDices/Docs/ui/
!/CardsAndDices/Assets/CardsAndDices/Scripts/
!/CardsAndDices/Assets/CardsAndDices/Scripts/Commands/
!/CardsAndDices/Assets/CardsAndDices/Scripts/Data/
!/CardsAndDices/Assets/CardsAndDices/Scripts/Installers/
!/CardsAndDices/Assets/CardsAndDices/Scripts/Shared/
!/CardsAndDices/Assets/CardsAndDices/Scripts/Systems/
!/CardsAndDices/Assets/CardsAndDices/Scripts/Tester/
