# すべてのファイルをデフォルトで無視する
*

# CardsAndDicesProject/Assets/CardsAndDices/Docs/ 配下の .md ファイルを追跡
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/**/*.md
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/component/*.md
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/gdd/*.md
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/guide/*.md
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/sys/*.md
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/ui/*.md

# CardsAndDicesProject/Assets/CardsAndDices/Scripts/ 配下の .cs ファイルを追跡
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/**/*.cs
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Commands/*.cs
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Data/*.cs
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Installers/*.cs
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Shared/*.cs
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Systems/*.cs
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Tester/*.cs

# .gitignore ファイル自体は管理対象にする
!/.gitignore

# 上記のファイルにたどり着くために必要なディレクトリの無視を解除する
# Gitの仕様上、親ディレクトリが無視されていると子ファイルも無視されるため、
# 必要なパスを明示的に解除する
!/CardsAndDices/
!/CardsAndDices/Assets/
!/CardsAndDicesProject/Assets/CardsAndDices/
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/component/
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/gdd/
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/guide/
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/sys/
!/CardsAndDicesProject/Assets/CardsAndDices/Docs/ui/
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Commands/
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Data/
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Installers/
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Shared/
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Systems/
!/CardsAndDicesProject/Assets/CardsAndDices/Scripts/Tester/
